:root {
  --primary-blue-200: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --secondary-blue-900: hsl(217, 54%, 11%);
  --secondary-blue-600: hsl(216, 50%, 16%);
  --secondary-blue-400: hsl(215, 32%, 27%);
  --secondary-white: hsl(0, 0%, 100%);

  --ff: 'Outfit', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

main {
  background-color: var(--secondary-blue-900);
  display: grid;
  place-content: center;
  color: var(--secondary-white);
  height: 100vh;

}

.container {
  background-color: var(--secondary-blue-600);
  display: grid;
  gap: 2em;
  font-family: var(--ff);
  border-radius: 1.6em;
  padding: 25px;
  max-width: 35em;
}

.main-img {
  max-width: 30em;
  margin: auto;
  border-radius: 0.8em;
}

.flex-group-main {
  display: flex;
  justify-content: space-between;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1em;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
}

.main-para {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--primary-blue-200);
  line-height: 150%;
}

.sub-para {
  font-size: 1.6rem;
}

.cyan {
  color: var(--primary-cyan)
}

.blue {
  color: var(--primary-blue-200);
}

hr {
  border: none;
  border-top: .3px solid var(--primary-blue-200);
}

.avatar {
  width: 3.3em;
  border: 1px solid var(--secondary-white);
  border-radius: 50%;
}

.blue span {
  color: var(--secondary-white);
}
